/* Set vidyard span wrappers for responsive videos. */
/* Ref: http://knowledge.vidyard.com/33007-publish-your-player/245140-make-an-inline-player-responsive */
.video-embed-field-responsive-video .vidyard_player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-embed-field-responsive-video .vidyard_player > span {
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto !important;
}
